{
   "bid": {
 	   	    #if($campaign.getCampaignId())
               "campaignId" : "$campaign.getCampaignId()"
               #if($campaign.getAdId()),#end
 	   	    #end
 	   	    #if($campaign.getAdId())
 	   	       "adId" : "$campaign.getAdId()"
 	   	    #end
 	   	 }
}